@import './mixins.scss';

.red-btn {
    @include gradient-background('red-btn');
    font-weight: 600;
    font-size: 18px;
    height: 47px;
    border: transparent;
    min-width: 120px;
    color: #ffffff;
    border-radius: 0px;
    padding-left: 25px;
    padding-right: 25px;

    &:hover,
    &:active,
    &:focus {
        @include gradient-background('red-btn-hover');
        color: white;
        border: none;
    }
}

.gradient-btn {
    @include gradient-background('gradient-secondary');
    font-weight: 600;
    font-size: 18px;
    height: 47px;
    border: transparent;
    color: #ffffff;
    border-radius: 0px;
    padding-left: 18px;
    padding-right: 18px;

    &:hover,
    &:active,
    &:focus {
        @include gradient-background('gradient-btn-hover');
        color: white;
        border: none;
    }
}
