@import './mixins.scss';
@import './fonts.scss';
@import '~bootstrap/scss/bootstrap';

/* Base style */

html,
body {
    padding: 0;
    margin: 0;
    font-family: $primaryFont;
    color: color('dark-secondary');
    line-height: 26px;
    overflow-x: hidden;
}

h2,
h3,
h4,
h5,
h6,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 0;
    font-weight: 700;
    color: color('dark-primary');
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a:focus,
a:hover {
    text-decoration: none;
}

button:focus {
    box-shadow: none !important;
}

.form-control:focus {
    outline: 0;
}
.cursor-pointer {
    cursor: pointer;
}
.visiblity-hidden {
    visibility: hidden;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: none !important;
}

.h2 {
    font-size: $heading2;
}

.h3 {
    font-size: $heading1;
    font-size: 20px;
}

// ----------font color---------

.light-text-color {
    color: color('light-primary');
}
.secondary-text-color {
    color: color('secondary');
}


.dark-text-color {
    color: color('dark-primary');
}
.dark-secondary-text-color {
    color: color('dark-secondary');
}

.dark-box-shadow {
    box-shadow: 0 4px 12px 0 #0000001f;
}
// ----------font color--------

.link-primary {
    color: color('secondary');

    &:hover {
        color: color('primary');
    }
}

.link-primary-gradient {
    @include gradient-color('gradient-primary');

    &:hover {
        @include gradient-color('gradient-primary');
    }
}

.backtotop {
    position: absolute;
    bottom: 136px;
    right: 20px;
    width: 110px;
    font-size: 13px;

    a {
        color: #ffffff;

        .arrow-bg {
            width: 52px;
            height: 52px;
            background: #ffffff;
            border-radius: 50%;
            text-align: center;
            margin: 10px auto;
            line-height: 47px;
            svg {
                stroke: #6f74ff !important;
            }

            &:hover {
                color: #fff !important;
            }
        }
    }
}

.dark-arrow {
    a {
        color: #6f74ff !important;

        .arrow-bg {
            width: 52px;
            height: 52px;
            background: #6f74ff;
            border-radius: 50%;
            text-align: center;
            margin: 10px auto;
            line-height: 47px;

            svg {
                stroke: #fff !important;
            }
        }
    }
}

.nav-item {
    &.dropdown a {
        color: #000000;
        &:active {
            background: none !important;
        }
        &:after {
            box-sizing: border-box;
            height: 8px;
            width: 8px;
            border-style: solid;
            border-color: #000000;
            border-width: 0 1px 1px 0;
            transform: rotate(45deg);
            position: relative;
            left: 9px;
        }
    }
}

.inner-page-header {
    .nav-item {
        &.dropdown a {
            &:after {
                border-color: #ffffff;
            }
        }
    }
}

.sticky {
    .inner-page-header {
        .nav-item {
            &.dropdown a {
                &:after {
                    border-color: #000000;
                }
            }
        }
    }
}

// ------------------card-----------

.card {
    border-radius: 8px;
    border: none;
}
.card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.min-size-btn {
    min-width: 175px !important;
}

.btn-lg {
    width: 205px;
    height: 56px !important;
}

.button-outer {
    background: url('../public/assets/images/button-shadow.png') center bottom no-repeat;
    background-size: 90%;
    padding-bottom: 15px;
    width: max-content;
}

.purple-gradient-text-color {
    @include gradient-background('gradient-secondary');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blue-gradient-text-color {
    @include gradient-background('gradient-blue');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-gradient-secondary {
    @include gradient-background('gradient-secondary');

    // background: color("gradient-secondary");
}
.bg-light-primary {
    @include gradient-background('light-primary');

    // background: color("light-primary");
}
.bg-gradient-light {
    @include gradient-background('gradient-light');
}

// ------------------ header white logo------------------
.white-logo {
    filter: brightness(0) invert(1);
}

.search-input {
    height: 49px !important;
    padding-left: 16px !important;
    padding-right: 18px !important;
}
.search-white-input {
    background: white !important;
}
// ------------------header white logo------------------
// ------------------home page header------------//

.sticky {
    .main-header {
        background: #ffffff;
        box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.1);
    }
}






.header-top {
    background: color('secondary');
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    // letter-spacing: 0.346154px;
    color: color('light-primary');


    .social-links {
        img {
            height: 18px;
        }

        li {
            display: inline;
            padding-left: 25px;

            &:first-child {
                padding-left: 0;
            }
        }
    }
}

.main-header {
    .main-menu {
        .nav-link {
            color: color('dark-primary') !important;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            padding: 15px 20px;
        }
    }

    .letstalk-btn {
        margin-top: 12px !important;
    }
}

// ------------------home page header------------//

.hero-banner-container {
    background: url('../public/assets/images/hero-banner-bg.png') no-repeat;
    min-height: 500px;
    padding-top: 250px;
    padding-bottom: 100px;   // ------home page 19/1/22 changes
    background-size: cover;
    background-position-x: right;
}

.featured-box-container {
    @include gradient-background('gradient-third');
    border-radius: 9.67499px;
    height: 85px;
    text-align: center;
    padding: 33px;
    transition: all 0.3s ease-in-out;
    span {
        font-size: 21px;
        color: color('light-primary');
        font-weight: 700;
        line-height: 28px;
    }

    &:hover {
        box-shadow: 0 1px 20px 0 rgba(50, 50, 50, 0.4);
    }
}


.featured-heading {
    margin-top: 110px !important;
}

.featured-box-container-new {
    border: 1px solid #E7E5E5;
    background: rgba(255, 255, 255, 0.53);
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    padding: 25px;
    margin-top: 40px;
    transition: all 0.5s;

    &:hover {
        box-shadow: 20px 0 35px rgba(115, 112, 112, 0.1), 0 20px 35px rgba(120, 123, 126, 0.2);
    }

    p {
        margin-bottom: 30px;
    }

    .featured-icon-new {
        margin-top: -60px;
        margin-left: -30px;
    }


}


.heading-line {
    border-top: 2px solid color('secondary');
    margin-top: 5px;
    width: 93.6px;
    margin-left: 20px;
}

// ------------------home section 1------------//

.home-section1 {
    @include gradient-background('gradient-primary-opacity');
    min-height: 600px;

    .home-section-icons {
        height: 165px;
    }
}

// ------------------home section 2------------//

.home-section-2 {
    background: url('../public/assets/images/section2-bg.png') no-repeat;
    background-size: cover;
    min-height: 500px;

    .service-thumb img {
        height: 60px;
    }
}

// ------------------home section 3------------//

.home-section-3 {
    background-image: url('../public/assets/images/section3-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    padding-bottom: 125px !important;

    h2 {
        color: color('light-primary');
    }
}

.custom-card {
    margin-bottom: 30px;
    .card-img-top {
        height: 220px;
        object-fit: cover;
    }

    .card-title {
        margin-bottom: 0.5rem;
        height: 55px;
    }

    .card-body {
        padding: 1.2rem;
    }

    .card-text {
        height: 260px;
    }

    .card-footer {
        padding: 1.2rem;
        background-color: #ffffff !important;
        border-top: none;

        a {
            font-weight: 800;
        }
    }
    .card-footer:last-child {
        border-radius: 0 0 1.2rem 1.2rem;
    }
}

// ------------------home section 4 ------------//

.cta-banner1 {
    background: url('../public/assets/images/cta-bg1.jpg') no-repeat;
    border-radius: 10px;
    min-height: 302px;
    background-size: cover;
    position: relative;
    padding: 50px;

    &:after {
        width: 94%;
        min-height: 302px;
        background: url('../public/assets/images/cta-bg1.jpg') no-repeat;
        opacity: 0.38;
        filter: blur(5px);
        content: '';
        position: absolute;
        z-index: -1;
        left: 3%;
        bottom: -10px;
    }

    .cta-txt {
        width: 240px;

        h2 {
            color: #ffffff;
            margin-bottom: 30px;
        }
    }
}

// ------------------home section 5 ------------//

.home-section-5 {
    background: url('../public/assets/images/section2-bg.png') no-repeat;
    background-size: cover;
    min-height: 500px;
}

// ------------------home section 6 ------------//

.home-section-6 {
    @include gradient-background('gradient-fourth');
    background-size: cover;

    h2 {
        color: color('light-primary');
    }

    .counter-thumb {
        color: color('light-primary');
        position: relative;

        &:after {
            width: 2px;
            height: 50px;
            background: color('light-primary');
            content: '';
            position: absolute;
            opacity: 0.2;
            top: 50px;
            right: 0;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }

        span {
            font-size: 56px;
            font-weight: 800;
        }

        strong {
            font-size: 20px;
        }
    }
}

// ------------------home section 7 ------------//

.cta-banner2 {
    background: url('../public/assets/images/cta-bg2.jpg') right no-repeat;
    border-radius: 10px;
    min-height: 302px;
    background-size: cover;
    position: relative;
    padding: 50px;

    &:after {
        width: 94%;
        min-height: 302px;
        background: url('../public/assets/images/cta-bg2.jpg') no-repeat;
        opacity: 0.38;
        filter: blur(5px);
        content: '';
        position: absolute;
        z-index: -1;
        left: 3%;
        bottom: -10px;
    }

    .cta-txt {
        width: 750px;
        h2 {
            color: #ffffff;
            margin-bottom: 30px;
        }
    }
}

.home-section-7 {
    .workwithus-txt {
        font-size: 20px;
        color: color('dark-secondary');
    }
}

// ------------------home section 8 ------------//

.home-section-8 {
    background: url('../public/assets/images/section8-bg.png') no-repeat;
    background-size: 100% 100%;
    padding-bottom: 120px !important;

    h2 {
        color: color('light-primary');
    }

    .custom-card2 {
        padding: 10px;
        color: color('dark-secondary');
        margin-top: 40px;

        &.card {
            border-radius: 4px;
        }

        .red-btn {
            width: 270px;
            height: 40px;
        }
    }
}

// ------------------home section 9 ------------//

.home-section-9 {
    @include gradient-background('gradient-fifth');
    background-size: 100% 100%;
    padding-bottom: 50px !important;

    .testimonial-bg {
        background: url('../public/assets/images/testimonials-bg.svg') 100px 100px no-repeat;
        min-height: 400px;

        small {
            color: color('secondary');
            font-size: 20px;
            font-weight: 700;
        }
    }

    .testimonial-cont {
        background: #ffffff;
        padding: 30px 20px;
        border-radius: 8px;
        position: relative;

        &:after {
            content: '';
            width: 70px;
            height: 51px;
            background: url('../public/assets/images/quote.png');
            position: absolute;
            top: 25px;
            right: 25px;
        }

        .testimonial-user-cont {
            .user-thumb {
                margin-right: 25px;
                > div {
                    overflow: visible !important;
                }
                img {
                    width: 65px;
                    height: 65px;
                    object-fit: cover;
                    margin-right: 25px;
                }
                div {
                    border-radius: 35px;
                }
                .shadow {
                    border-radius: 35px;
                }
            }
            .user-name {
                padding-right: 50px;
            }
        }

        .testimonials-txt {
            font-size: 14px;
        }
    }
}

// ------------------home section 9 ------------//

.home-section-10 {
    background: url('../public/assets/images/section2-bg.png') no-repeat;
    background-size: cover;
    min-height: 500px;

    .insight-card {
        background: none;
        .card-img-top {
            height: 251px;
            object-fit: cover;
            border-radius: 8px;
            margin-bottom: 20px;
        }

        .card-body {
            padding: 16px 0 0;
        }

        .card-text {
            color: #898989;
            font-size: 14px;
        }

        a {
            font-weight: 700;
        }
    }
}

// ------------------home section 9 ------------//

.home-section-11 {
    background: url('../public/assets/images/home-contactus-bg.png') left top no-repeat;
    margin-top: -100px;
    padding-top: 100px;

    .home-contact-card {
        padding: 40px 40px 28px;
        background: color('light-primary');
        box-shadow: 0 8.19px 40.95px rgba(19, 62, 110, 0.16);
        border-radius: 24px;
        position: relative;
        z-index: 2;
        .form-label {
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 0;
        }

        .form-control {
            border: none;
            border-bottom: #ced9eb solid 1px;
            border-radius: 0;
            margin-bottom: 15px;
        }

        .form-check-label {
            font-size: 10px;
            line-height: 10px;
            margin-left: 10px;
            color: color('dark-secondary');
            opacity: 0.7;
        }
    }
}

// ------------------about-us-section------------//
.about-us-banner {
    background: url('../public/assets/images/about-us-banner-bg.png') no-repeat center;
    background-position: bottom;
    min-height: 527px;
    padding-bottom: 125px;
    background-size: cover;
    padding-top: 80px;
    display: grid;
    place-items: center;
}
.about-section1 {
    margin-top: -125px;
    background: url('../public/assets/images/about-us-ellipse-bg.png') no-repeat right bottom;
    .about-section1-img {
        padding: 0 4% !important;
    }
}

.our-story-block-number {
    width: 24px;
    height: 24px;
    border: 1px solid #c4c4c4;
    span {
        font-size: 14px;
        color: #c4c4c4;
    }
}
.line-animated {
    width: 4px;
    height: 160px;
    background-color: #c4c4c4;
}

.our-story-block {
    // 19/1/22 changes
    margin-bottom: 10px;
    .our-story-block-content {
        p {
            color: #7a7a7a;
        }
    }
    &:hover {
        .line-animated {
            &:before {
                content: '';
                position: absolute;
                background-color: color('secondary');
                animation: fadeInUp 1s ease-in-out 2s forwards;
                height: 80px;
                width: 4px;
                border-radius: 0.25rem !important;
                bottom: 0;
            }
            @keyframes fadeInUp {
                from {
                    opacity: 0;
                    transform: translate3d(0, 0, 0);
                }

                to {
                    opacity: 1;
                    transform: none;
                }
            }
        }
        p {
            color: color('dark-secondary');
        }
        .our-story-block-number {
            border: 1px solid #6f75ff;
            outline: 2px solid #a8acff;
            box-shadow: 0 0 0 4px rgba(209, 211, 255, 0.75);
            -webkit-box-shadow: 0 0 0 4px rgba(209, 211, 255, 0.75);
            -moz-box-shadow: 0 0 0 4px rgba(209, 211, 255, 0.75);
        }
    }
    // 19/1/22 changes
    .h2{
        margin-left: 25px;
    }
}
.about-section3 {
    .our-story-block {
        &:hover {
            .line-animated {
                &:before {
                    background: color('light-primary');
                }
            }
        }
    }
    .right-end-bg-img{
        background: url('../public/assets/images/about-us-illustration2.png') no-repeat;
        background-position: center right;
    }
}
.about-section4 {
    .our-team-block {
        .line-animated {
            height: 65px;
        }
    }
    .lets-meet-box {
        width: 420px;
        margin-top: -100px;
        border-radius: 8px;
        .our-team-block {
            .h3.dark-secondary-text-color {
                font-size: 19px;
            }
        }
    }
    .about-section5 {
        .our-team {
            .card-title {
                font-size: 20px;
            }
            .card-img-top {
                width: 213px;
                height: 213px;
                object-fit: cover;
                margin: 0 auto;
            }
        }
        .social-icons a {
            width: 34px;
            height: 34px;
            border: 1px solid #c4c4c4;
        }
    }
}
.inner-page-header {
    .main-menu {
        .nav-link {
            color: color('light-primary') !important;
        }
    }
}
.our-team {
    border-radius: 12px;
    box-shadow: 0 13.509px 39.6668px rgba(229, 235, 235, 0.5);
}
.footer-section {
    @include gradient-background('gradient-secondary');

    .social-icons {
        img {
            height: 19px;
        }
    }
}
// ------------------about-us-section------------//

// ----------------Contact us page---------------//

.contactus-container {
    .ouroffice-container {
        @include gradient-background('gradient-primary-opacity');
    }

    .ouroffice-banner {
        img {
            max-width: unset;
            margin-left: 15%;
            margin-bottom: 15px;
        }
    }
}

.contactus-banner {
    background: url('../public/assets/images/contactus-banner.png') no-repeat center;
    background-position: bottom;
    height: 545px;
    padding-bottom: 125px;
    background-size: cover;
    padding-top: 80px;
    display: grid;
    place-items: center;
}

.contactus-inner-banner {
    background: url('../public/assets/images/contactus-innerbanner.png') no-repeat center;
    background-position: bottom;
    padding-bottom: 275px;
    padding-top: 100px;
    display: grid;
    place-items: center;
    background-position-y: top 100px;
    background-size: contain;
}

.contact-small-section {
    .contactus-sociallinks {
        a {
            margin-right: 15px;
            img {
                height: 20px;
            }
        }
    }
    a {
        color: color('secondary');
    }

    &.contact-small-section-contact {
        a {
            color: color('dark-primary');
        }
    }
}

.getintouch-form {
    .form-group {
        margin-bottom: 32px;
    }

    .form-label {
        font-size: 18px;
        color: #000000;
        font-weight: 600;
        margin-bottom: 16px;
    }

    .form-control {
        background: linear-gradient(90deg, rgba(111, 116, 255, 0.12) 0%, rgba(94, 157, 255, 0.28) 100%);
        border-radius: 30px;
        border: none;
        height: 60px;
        padding-left: 35px;
        padding-right: 35px;
    }

    input[type="text"]:disabled {
        background: linear-gradient(90deg, rgba(50, 50, 100, 0.10) 0%, rgba(40, 60, 100, 0.20) 100%);
    }

    .select-field {
        position: relative;

        &:after {
            width: 16px;
            height: 16px;
            content: ' ';
            background: url('../public/assets/images/arrow-button-down.png');
            position: absolute;
            right: 25px;
            top: 64px;
        }
    }

    .msg-field {
        height: 225px;
        resize: none;
    }
}

.content-search {

    width:0px;
    transition: all .5s;

    &.toggle-active
    {
        width:240px;

        .form-control {
            padding-left: 20px !important;
            padding-right:20px !important;
            height: 47px !important;
        }
    }

    margin-left:10px;

    .form-control {
        padding-left: 0px !important;
        padding-right:0px !important;
    }
}

.office-banner {
    margin-left: 15% !important;
}
.contactus-footer {
    background: color('secondary');
}

// ------------------footer-section------------//
.footer-section {
    a {
        &:hover {
            color: color('dark-primary');
        }
    }
}
.footer-after-line li:not(:last-child):after {
    content: '';
    position: absolute;
    width: 1px;
    height: 18px;
    background-color: #ffffff;
    top: 6px;
    margin: 0 8px;
}
.list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
}

.home-footer {
    border-top-left-radius: 88px;
    border-top-right-radius: 88px;
    padding-top: 300px;
    margin-top: -300px;
    position: relative;
    z-index: 1;
    @include gradient-background('gradient-primary');
    .social-icons {
        a {
            &:first-child {
                margin-left: 0 !important;
            }
        }
    }
}

// ------------------footer-section------------//

// ------------------NFT Services-section------------//
.service-inner-section1 {
    padding-top: 155px;
    padding-bottom: 65px;
    display: grid;
    place-items: center;
    .nft-service-img-div {
        margin-bottom: -140px;
    }
    .nft-service-img {
        width: 100%;
        margin-bottom: -140px;
    }
}
.service-inner-section2 {
    @include gradient-background('gradient-primary-opacity');
    margin-top: -40px;
}
.nft-page-footer {
    @include gradient-background('gradient-primary');
}
.cta-banner3 {
    background: url('../public/assets/images/cta-bg3.jpg') right no-repeat;
    border-radius: 10px;
    min-height: 302px;
    background-size: cover;
    position: relative;
    padding: 50px;

    &:after {
        width: 94%;
        min-height: 302px;
        background: url('../public/assets/images/cta-bg3.jpg') no-repeat;
        opacity: 0.38;
        filter: blur(5px);
        content: '';
        position: absolute;
        z-index: -1;
        left: 3%;
        bottom: -10px;
    }

    .cta-txt {
        width: 750px;
        h2 {
            color: #ffffff;
            margin-bottom: 30px;
        }
    }
}
// ------------------NFT Services-section------------//

// header start
header .main-header {
    position: relative;
}
.fixed-top .sticky .main-menu .nav-link {
    color: #121212 !important;
}
.about-section5 {
    .our-team {
        .card-img-top {
            margin: 0 auto;
        }
        img{
            object-fit: cover !important;
            object-position: top !important;
        }
    }
}
.about-us-page .header-search img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
.about-us-page .fixed-top.sticky .header-search img {
    -webkit-filter: brightness(1) invert(0);
    filter: brightness(1) invert(0);
}

// ---------------career page start---------------
.career-hero-banner {
    background: url('../public/assets/icons/careers-banner.svg') no-repeat;
    min-height: 710px;
    padding-top: 150px;
    background-position: top;
    margin: 164px 0 100px;
}
.listing-div {
    li {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        line-height: 30px;
        color: color('dark-secondary');
        span {
            padding-right: 40px;
            margin-bottom: 0;
        }
    }
}
.career-page {
    .form-field {
        &:not(:last-child) {
            margin-right: 30px;
        }
        .form-control,
        .form-select {
            border: 1px solid #cecece;
            border-radius: 58px;
            height: 58px;
            padding: 10px 20px;
        }
        &.search-field {
            width: 333px;
            .form-control {
                background: url('../public/assets/icons/gradient-search.svg') no-repeat 94% center;
            }
        }
    }
}
.w-1k-block {
    width: 1082px;
    box-shadow: 0 13.509px 39.6668px rgba(229, 235, 235, 0.5);
}
.career-section1 {
    a {
        &:hover {
            color: #6f75ff;
        }
    }
}
.career-section2 {
    .w-1k-block {
        margin-top: 60px;
    }
}
.career-section3 {
    padding: 0 0 180px;
    .job-position {
        width: 50%;
        span {
            width: 50%;
            display: block;
        }
    }
    .job-location,
    .job-posted {
        width: 150px;
        margin-right: 20px;
    }
}
// ---------------career page end---------------

// ----------------- defi section------------

.section-glow {
    background: url('../public/assets/images/glow-bg.png') no-repeat;
    padding: 175px 0 100px;
    background-size: cover;
}

.defi-section-glow
{
    padding-top:125px;
}

.defi-section2 {
    @include gradient-background('gradient-primary-opacity');
}

.service-inner-section4 {
    @include gradient-background('gradient-sixth');
}

.ul-list {
    padding-left: 15px;
    li {
        padding-bottom: 30px;
        list-style: disc;
    }
}

// ----------------------career page details start----------------

// ---------breadcrumb start---------
.breadcrumb-section {
    margin-top: 120px;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: '>';
}
.breadcrumb-item {
    &.active {
        color: color('dark-secondary');
    }
    a {
        color: color('dark-secondary');
    }
}

// ---------breadcrumb start---------

.careerdetail-overview-section {
    .job-overview {
        width: 510px;
    }
    .overview-img {
        img {
            max-width: unset;
            margin-left: -100px;
        }
    }
}
.careerdetail-roles-section {
    .roles-responsibility {
        padding: 70px 55px;
        border-radius: 12px;
        box-shadow: 0 13.509px 39.6668px rgba(229, 235, 235, 0.5);
    }
}
.career-listings {
    padding-left: 30px;
    li {
        list-style-type: disc;
        &::marker {
            color: color('dark-secondary');
            font-size: 19px;
        }
    }
}
.career-apply-btn {
    width: 280px;
}

.contact-icon {
    margin-top: 3px;
    margin-right: 10px;
}
// ----------------------career page details end----------------
.search-margin {
    margin-top: 14px;
    a {
        cursor: pointer;
    }
}

.nav-active {
    color: color('nav-active') !important;
    a {
        color: color('nav-active') !important;
    }
}

.error-text-padding-left {
    padding-left: 20px;
}

.check-invalid {
    color: color('danger') !important;
}

.is-invalid {
    border: 1px solid color('danger') !important;
}

.is-invalid-border {
    border: 1px solid color('danger') !important;
}

.grecaptcha-badge {
    z-index: 3;
}
// input type number field remove inside of dropdown

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

// uploaded resume
.uploaded-files {
    width: 150px;
    height: 130px;
    border-radius: 10px;
    color: color('alert-info-color');
    background-color: color('alert-info-bg');
    border-color: color('alert-info-border');
    padding: 3px;
    .remove {
        display: flex;
        justify-content: flex-end;
        margin-right: 8px;
        padding-top: 8px;
    }
    .file-path {
        justify-content: center;
        display: flex;
        padding-left: 15px;
        overflow: hidden;
        margin-top: 21px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

p.card-text.show-more {
    display: unset;
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;
    overflow: unset;
    height: unset;
}


// ----------------------Blockchain consulting--------------------


.accordion-header 
{
    .accordion-button
    {
        font-weight: bold;
    }
    
}

.accordion-button:not(.collapsed) {	
    color: color('light-primary');
	background-color: color('secondary');
    
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(0);
    filter: brightness(0) invert(1);
}

.block-chain-feature-card
{
    background-color: color('secondary');
    color: color('light-primary');
    min-height: 370px;

    .h3
    {
        color: color('light-primary');
        font-size:28px;
    }
}

.whatsapp_widget_wrapper .whatsapp_widget_pop.close{
    display: none !important;
}

.home-contact-form, .getintouch-form {
    .spinner-border {
        width: 20px;
        height: 20px;
        margin-right: 12px;
    }
}

// 22/12/21
// .blockchain-consulting-page,
// .hyperledger-service-page{
//     font-family: $secondaryFont;
// }
// .blockchain-consulting-page .enterprise-section1 .h1,
// .hyperledger-service-page .enterprise-section1 .h1
// {
//     font-size: 36px !important;
//     font-weight: 600;
//     line-height: 48px;
//     letter-spacing: -2px;
// }
.enterprise-section1 {
    padding-bottom: 207px;  
}
.section-glow-banner{
    background-color: color('secondary');
    height: 264px;
    .h2 {
        color: color('light-primary');
        margin-bottom: 12px;
    }
    .floating-content{
        margin-top: -87px;
        background-color: color('light-primary');
        padding: 45px 25px;
        box-shadow: 8px 8px 20px 0px rgba(138, 138, 138, 0.14);
        border-top: 5px solid color('secondary');
     }
     .banner-content{
        color: color('light-primary');
        padding: 36px 0 36px 55px;
     }
}

.next-generation-accordion{
    .accordion-flush{
        .accordion-button:not(.collapsed){
            background-color: color('light-tertiary');
            box-shadow: 4px 4px 8px rgba(240, 240, 240, 0.25);
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
            color: color('dark-tertiary');
        }
        .accordion-button{
            background-color: color('light-tertiary');
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            border-radius: 4px;
            color: #4A5659;
        }
        .accordion-button:not(.collapsed)::after{
            filter: brightness(0);
        }
        .accordion-body{
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            color: #797B7C;
            padding-bottom: 0;
        }
    }
    .accordion-item{
        border: 0;
        &:not(:last-child){
            margin-bottom: 35px;
        }
    }
  
}
.enterprise-section3{
    padding-top: 200px;
    padding-bottom: 90px;
    .h2{
        color: color('dark-secondary');
        letter-spacing: -1px !important;      // home page 19/1/22 changes
        font-size: 36px !important;
        font-weight: 700;                     // home page 19/1/22 changes
        line-height: 48px;
    }
    .paragraph-text{
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        color: color('dark-secondary');
    }
    .featured-box-container-new 
    {
        background-repeat: no-repeat;
        background-size: contain;
        box-shadow: 0px 20px 35px rgba(131, 199, 255, 0.1);
        width: 100%;
       .featured-content{
           height: 170px;
           z-index: 1;
            position: relative;
           p{
            color: color('dark-secondary');
            margin-bottom: 18px;
           }
       } 
    }
    .featured-iconbg-new1{
       background-image:url('../public/assets/images/feature-icon1.png');
    }
    .featured-iconbg-new2{
        background-image:url('../public/assets/images/feature-icon2.png');
    }
    .featured-iconbg-new3{
        background-image:url('../public/assets/images/feature-icon3.png');
    }
    .featured-iconbg-new4{
        background-image:url('../public/assets/images/feature-icon4.png');
    }
}
.featured-hyperledgerbg1{
    background-image:url('../public/assets/images/feature-img1.png');
}
.featured-hyperledgerbg2{
    background-image:url('../public/assets/images/feature-img2.png');
}
.featured-hyperledgerbg3{
    background-image:url('../public/assets/images/feature-img3.png');
}
.featured-hyperledgerbg4{
    background-image:url('../public/assets/images/feature-img4.png');
}
.orange-cta-section{
    background: url('../public/assets/images/orange-bg.png') no-repeat;
    background-size: cover;
}
.orange-cta-section 
{
    .getstarted-heading {
        font-size: 30px;
        font-weight: 600;
        line-height: 56px;
        text-align: center;
        margin-bottom: 35px;
    }
}
.enterprise-section4{
    padding: 55px 0 65px 0;
}
.white-outline-btn{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    border: 2px solid color('light-primary');
    height: 48px;
    border-radius: 0;
    background-color: transparent;
    padding: 0 82px;
    &:hover{
        background-color: color('light-primary');
        color: color('dark-secondary');
        border: 2px solid color('light-primary');
    }
}
.dark-black-color{
    color: color('dark-fourth');
}
.white-footer-section
{
    .row{
        .text-md-center{
            text-align: left !important;
        }
        .brand-logo{
            margin-bottom: 40px;
            display: block;
            margin-top: -30px;
        }
    }
    .light-text-color{
        color: color('dark-fourth') !important;
    }
    .social-icons{
        a{
            margin-left: 0 !important;
            img{
                filter: brightness(0);
            }
        }
       
    }
    .footer-after-line li:not(:last-child):after {
        background-color: color('dark-fourth');
    }
}
.develop-hyperledger{
    .floating-content{
        height: 714px;
        padding: 50px;
        h3{
            font-size: 24px;
            font-weight: 700;                   // home page 19/1/22 changes
            line-height: 24px;
            color: color('dark-secondary');
            margin-bottom: 40px;
        }
        button{
            margin-top: 40px;
            padding-left: 40px !important;
            padding-right: 40px !important;
            width: auto !important;
        }
        p{
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            color: color('dark-fourth');
        }
    }
    .what-hyperledger-img{
        margin-top: -360px;
        padding-left: 55px;
    }
}
.why-hyperledger {
    padding-top: 455px;
}

// ---------------------------------- gdpr styles start  ----------------------------------
.featured-gdprbg1{
    background-image:url('../public/assets/images/gdpr-highlight-icon1.png');
}
.featured-gdprbg2{
    background-image:url('../public/assets/images/gdpr-highlight-icon2.png');
}
.featured-gdprbg3{
    background-image:url('../public/assets/images/gdpr-highlight-icon3.png');
}
.featured-gdprbg4{
    background-image:url('../public/assets/images/gdpr-highlight-icon4.png');
}

.gdpr-service{
    .develop-hyperledger {
        .what-hyperledger-img {
            margin-top: -350px;
        }
    }
}
// ---------------------------------- gdpr styles end  ----------------------------------
// ---------------------------------- rpa styles start  ----------------------------------
.benefits-content{
    .featured-box-container-new{
        padding: 24px;
        .featured-content{
            height: 110px;
            p{
                font-family: $primaryFont;
                font-size: 18px;
                font-weight: 700;
                line-height: 32px;
            }
        }
    }
}
.rpa-service{
    .develop-hyperledger {
        .floating-content {
            height: 625px;  //changes on 20/1/22
        }
        .what-hyperledger-img {
            margin-top: -245px;
        }
    }
    .why-hyperledger{
        padding-top: 290px;
    }
}
.featured-rpabg1{
    background-image:url('../public/assets/images/rpa-iconbg1.png');
}
.featured-rpabg2{
    background-image:url('../public/assets/images/rpa-iconbg2.png');
}
.featured-rpabg3{
    background-image:url('../public/assets/images/rpa-iconbg3.png');
}
.featured-rpabg4{
    background-image:url('../public/assets/images/rpa-iconbg4.png');
}
.featured-rpabg5{
    background-image:url('../public/assets/images/rpa-iconbg5.png');
}

.right-overlapped-content{
    padding-top: 440px;
    .banner-content{
        padding-top: 50px;
        h2{
            color: color('light-primary');
            font-family: $primaryFont;
            font-size: 24px;
            font-weight: 800;
            line-height: 24px;
        }
        .logo-image{
            margin-bottom: 60px;
        }
      
    }
    .light-red-bg{
        height: 485px;    
    }
    .floating-content{
        background-color: color('light-primary');
        margin-top: -50px;
        // padding: 45px 25px;
        -webkit-box-shadow: 8px 8px 20px 0px rgba(138, 138, 138, 0.14);
        box-shadow: 8px 8px 20px 0px rgba(138, 138, 138, 0.14);
        border-top: 5px solid color('light-red');
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        color: #797B7C;
        padding: 25px 0;
        .floating-content-heading{
            padding-left: 25px;
            padding-right: 25px;
            margin-bottom: 32px;
        }
    }
    .benefits-listing{
        li
        {
            padding-left: 25px;
            padding-right: 25px;
            &:not(:last-child){
                border-bottom: 1px solid #E2E3E3;
                padding-bottom: 10px;
                margin-bottom: 25px;
            }
        }
        strong{
            font-family: $primaryFont;
            font-size: 24px;
            font-weight: 800;
            line-height: 24px;
            margin-bottom: 16px;
            color: color('dark-tertiary');
        }
        
    }
}
.light-red-bg{
    background-color: color('light-red');
    color: color('light-primary');
}

.ui-consulting-service{
    margin-top: 100px;
    .custom-card{
        box-shadow: 0px 20px 35px rgba(131, 199, 255, 0.1);
        border: 1px solid #E7E5E5;
        .card-title{
            height: auto;
            .h3{
                color: color('dark-secondary');
            }
        }
        .card-text{
            height: auto;
            display: block;
            height: 155px;
        }
    }
}
// ---------------------------------- rpa styles end  ----------------------------------

// 5/1/22  doc changes
.blockchain-consulting-page .section-glow-banner{
    height: 315px;
}
.card-less{
    .card-text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 80px;
    }
}


.defi-new-img
{
    margin-top:50px;
}

.timeline-content{
    .h3{
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 45px;
    }
    .info{
        h3{
            font-weight: 900;
            font-size: 18px;
            line-height: 30px;
            margin-bottom: 10px;
        }
        small{
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
        }
    }
}
.box{
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative;
        transition: all 0.5s linear;
        top:0;
        li{
            padding-bottom: 30px;
            position: relative;
            padding-left: 20px;
            color: color('light-primary');
            border-radius: 10px;
            line-height: 20px;
            width: 100%;
            &::before{
                content: "";
                display: inline-block;
                width: 0;
                height: 100%;
                border: 1px dashed color('light-primary');
                position: absolute;
                top: 10px;
                left: -4px;
            }
            &:last-child::before{
                border: 0;
            }
        }
    }
}


.box ul li > span:after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: color('light-primary');
    position: absolute;
    left: -7.5px;
    outline: 4px solid rgba(255, 255, 255, 0.3);
}

.box ul li > span:after{top:10px;}


.lets-meet-box {
    h4{
       margin-bottom: 0 !important;
    }
}
// for recaptcha hide
.grecaptcha-badge { visibility: hidden !important; }


// Home page changes 19/1/22
.home-section-icons-block {
    background-color: rgb(217 215 255 / 10%);
    border-radius: 10px;
    .h3 {
        font-size: 18px;
    }
}
.home-section1-bg{
    background: url('../public/assets/images/home-section1-bg.png') no-repeat;
    background-position: center right;
}
.home-section-3{
    padding-top: 70px;
    padding-bottom: 160px !important;
    &-heading{
        margin-bottom: 100px !important;
    }
}

.responsive-footer .social-icons a {
    margin-left: 0 !important;
}

.input-datepicker {
    caret-color: transparent;
    cursor: pointer;
}