@use 'sass:map';
// Colors
$abbey: #595a5c;
$atlantis: #9aca3f;
$validGreen: rgb(78, 171, 56);
$colors: (
    primary: #5f9dff,
    secondary: #6f75ff,
    light-primary: #ffffff,
    light-secondary: #ced9eb,
    dark-primary: #121212,
    dark-secondary: #404852,
    gradient-primary: (90deg, #6f74ff 0%, #5e9dff 100%,),
    gradient-primary-opacity: (90deg, #6f74ff15 0%, #5e9dff15 100%,),
    gradient-secondary: (90deg, #6f75ff 0%, #999dff 50.52%, #adb1ff 100%,),
    gradient-third: (180deg, #6d7aff 0%, #6197ff 100%,),
    gradient-fourth: (96.87deg, #7177ff 7.56%, #adb1ff 96.48%,),
    gradient-fifth: (180deg, #ffffff 2.5%, #f5f9ff 16.75%, #ebf3ff 39.72%, #f5f9ff 62.44%,),
    gradient-sixth: (180deg, #ffffff 2.5%, #f5f9ff 16.75%, #ebf3ff 39.72%, #f5f9ff 62.44%, #ffffff 83.72%,),
    gradient-light: (180deg, #ffffff 2.5%, #f5f9ff 16.75%, #ebf3ff 39.72%, #f5f9ff 62.44%, #ffffff 83.72%,),
    gradient-dark: (90deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.72) 41.89%, rgba(255, 255, 255, 0.684) 74.02%, rgba(255, 255, 255, 0.855) 100%,),
    red-btn: (90deg, #e06355 3.98%, #fea49a 93.98%,),
    red-btn-hover: (90deg, #fea49a 3.98%, #e06355 93.98%,),
    gradient-btn-hover: (90deg, #adb1ff 0%, #999dff 50.52%, #6f75ff 100%,), );

// $red-btn:(90deg, #e06355 3.98%, #fea49a 93.98%);

// $red-btn-hover:(90deg, #fea49a 3.98%, #e06355 93.98%);

$primaryFont: (
    'Mulish', sans-serif);

$heading1: 56px;

$heading2: 36px;

$heading3: 20px;
